p {
    font-size: 17px;
    font-style: italic;
}

.name_of_site {
    background-color: #400080;
    color: #000000;
    max-width: 195px;
    position: absolute;
    top: 12px;
    right: 58px;
    font-weight: 700;
    font-size: larger;

}

a {
    font-style: italic;
    background-color: #e1b797;
}

h1, h2, h3 {
    font-style: italic;
}

body {
    background-color: #c6c6c6;
}

.item {
    width: 600px;
    margin-left: 0;
}

li {
    background-color: #b5b5b5;
    width: 400px;
}

.list {
    background-color: #a2a2a2;
    max-width: fit-content;
}   

.back_button {
    background-color: #ab682c;
    color: #ffffff
}

.logo img {
    float: right;
    width: 50px;
    height: 50px;
    background-color: #400080;
}

.title {
    background-color: #a3aa88;
    max-width: max-content;
}

.photos img {
    width: 300px;
    height: 300px;
}

.photos h2 {
    font-style: italic;
    font-weight: lighter;
}