{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'gggutya/css/style.css' %}" rel="stylesheet" />
    <title>{{ title|default:"Заголовка нет" }}</title>
</head>
<body>
    <div class="logo">
        <img src="{% static 'gggutya/img/logo.png' %}" alt="logo">
        <p class="name_of_site">{{ name_of_site }}</p>
    </div>

    <p>
    {% for i in menu %}

    {% if forloop.last %}
    <a href={% url i.url_name %}>{{i.title}}</a>

    {% else %}
    <a href={% url i.url_name %}>{{i.title}} | </a>

    {% endif %}

    {% endfor %}
    </p>

    <h1 class="title">{{ title }}</h1>
            {% block main %} {% endblock main %}
</body>
</html>